@charset "utf-8";

#hobbit { margin: 10px 0; }
#ulist { margin: 0; padding-left: 0; display: flex;}
.item_box { overflow: hidden; height: 500px; }

.item_box ul li { 
	float: left; 
	display: inline; 
	height: 500px; 
	color: #fff; 
	cursor: pointer; 
	position: relative;
}

.item_box ul li.li1 { background: #5AB7DB}
.item_box ul li.li2 { background: #5DE3E0}
.item_box ul li.li3 { background: #9DE846}
.item_box ul li.li4 { background: #F2DE1A}
.item_box ul li.li5 { background: #FA9543}
.item_box ul li.li6 { background: #F24DA5}

.item_box .fold { 
	width: 10%; 
	/* height: 100%;  */
	/* text-align: center;  */
	/* position: absolute;  */
	/* top: 0px;
    left: 0px; */
    /* padding: auto; */
}
.item_box .fold .img { 
	display: block; 
	width: 3rem; 
	height: 3rem; 
	margin: 200px 23px 25px 8px;
}
.item_box .li1 .fold .img { background:url(../img/img10.png); background-size: 70% 70%;}
.item_box .li2 .fold .img { background:url(../img/img42.png); background-size: 70% 70%;}
.item_box .li3 .fold .img { background:url(../img/img49.png); background-size: 70% 70%;}
.item_box .li4 .fold .img { background:url(../img/img50.png); background-size: 70% 70%;}
.item_box .li5 .fold .img { background:url(../img/img51.png); background-size: 70% 70%;}
.item_box .li6 .fold .img { background:url(../img/img52.png); background-size: 70% 70%;}
.item_box .fold .txt { 
	font-size: 24px; 
	display: block; 
	width: 25px; 
	margin: 0px 30px; 
	line-height: 25px;
}

.item_box .unfold { 
	width: 100%; 
	height: 100%; 
	display: none; 
	position: absolute; 
	top: 0px; 
	left: 0px;
}

.item_box .unfold dl { margin: 30px 20px 10px 10px; }
.item_box .unfold dt { width: 180px; height: 180px; text-align: center; margin: auto; margin-bottom: 40px; }
.item_box .unfold dd { line-height: 35px; }
.item_box .unfold dd b { font-size: 30px; font-weight: normal; }
.item_box .unfold dd b a { 
	font-size: 14px; 
	display: inline-block; 
	color: #fff; 
	margin-left: 20px; 
	text-decoration: none;
}

